
<div class="mastfoot">
  <div class="inner">

    <p><a href="#top">&uarr; to top</a></p>

    <p>

      <section>

        <hgroup>

          <h4>{{@blog.title}}</h4>
          <h5>{{@blog.description}}</h5>

        </hgroup>

      </section>

    </p>

  </div>
</div>
